# ML Project - Fall 2021
---
In this project we are going to predict the behavior of customers when cliking on an advertisements that whether they buy that product or not.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('train_dataset.csv')
data.head()

   Sale  ...                           user_id
0     0  ...  5E2C678F6586B67F61A377E1534E01FC
1     0  ...  E8247702C0DD294E0AE6B5B5E2F9E810
2     0  ...  9FD001258907F541D497040C64383696
3     0  ...  225741ACF2DBB2E5948268F5D5D352E6
4     0  ...  160A90377E54124D0BD31DB6735F0B33

[5 rows x 23 columns]

# New Section

---
#1. EDA

In this part we are going to get some insights about our data and find out what information each variable gets. To do so we will follow bellow steps:
1. Understanding variables
2. Analyzing relationships between variables

Deleting 2 columns: todo

In [24]:
data = data.drop(columns=['SalesAmountInEuro',	'time_delay_for_conversion'], errors='ignore')

In [22]:
data['click_timestamp'].apply(lambda x: x.split(' ')[0]).unique()

array(['2020-08-04', '2020-08-03'], dtype=object)

In [47]:
from datetime import datetime
import time
def get_seconds(time_str):
  date, hour = time_str.split(' ')
  t = map(int, hour.split(':'))
  return t[0] * 3600 + t[1] * 60 + t[2]

get_seconds('2020-08-04 04:07:56')

TypeError: ignored

In [ ]:
numerical_cols = ['Sale', 'nb_clicks_1week',	'product_price']
categorical_cols = []